@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@theme {
  --color-primary-color: #23a6f0;
  --color-secondary-color-2: #3c403d;
  --color-text-color: #252b42;
  --color-second-text-color: #737373;

  --font-montserrat: 'Montserrat', sans-serif;
}
